defaults:
  - _self_  # refers to this config file
  - sharding: custom-llama-fsdp  # refers to sharding/llama-fsdp.yaml
  - remat: llama-scan-offload  # refers to remat/llama-scan.yaml


# Used to import the model from this class
type: custom_llama.CustomLlamaForCausalLM 

# Information about loading from a checkpoint
pretrained_url: aklein4/SmolLM2-360M-TPU
pretrained_step: 0
pretrained_strict: false

# torch information
torch_dtype: float32

# vocab information
vocab_size: 49152
bos_token_id: 0
eos_token_id: 0
pad_token_id: 49152

# architecture size
hidden_size: 2048
num_hidden_layers: 24

# attention configuration
num_attention_heads: 32
num_key_value_heads: 32

# MLP configuration
intermediate_size: 8192
hidden_act: silu

# rope configuration
max_position_embeddings: 8192
rope_theta: 130000

# misc
attention_dropout: false
attention_bias: false
initializer_range: 0.02 # should be unused bc of gaussian init
rms_norm_eps: 1.0e-05

# value added to pad token attention scores
# only used when elementwise_pad_mask is passed
pad_attention_bias_value: -100.0

# choose attention_kernel from: [flash_attention, splash_attention, null]
attention_kernel: flash_attention
